.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo {
    color: #e0e0e0; 
  }
  
  .experiencia-texto {
    font-size: 1.5rem; 
    line-height: 1.33; /* Define a altura da linha como 1.33, criando um espaçamento adequado */
    max-width: 40ch; /* Define a largura máxima do contêiner como 40 caracteres */
    margin-bottom: 60px; /* Define a margem inferior como 60 pixels */
    color: #525252; 
  }
  
  .experiencia-texto strong {
    color: #141414; 
  }
  
  .empresa {
    display: grid; /* Define o elemento com classe 'empresa' como um grid */
    grid-template-columns: 1fr 1fr; /* Define o modelo de grade com duas colunas de largura igual */
    padding: 20px; /* Define o preenchimento interno do elemento como 20 pixels */
    background: #f5f5f5; 
    margin-bottom: 20px; 
    border-radius: 4px;
    position: relative;
  }

  .empresa::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);

  }

  .empresa-ano {
    position: absolute;
    top: 20px;
    left: -100px;
    color: #525252;
    font-size: 0.875rem;
}
  
  