body {
  margin: 0px; /* Define a margem do corpo como 0 pixels */
  font-family: 'Fira Sans', Arial, sans-sefif; 
  color: #141414; 
  margin-bottom: 1000px; 
}

h1, h2, h3, p {
  margin: 0px; 
}

ul {
  margin: 0px; 
  padding: 0px; 
  list-style: none; /* Remove os marcadores de lista das listas não ordenadas */
}

img {
  max-width: 100%; /* Define a largura máxima da imagem como 100% */
  display: block; /* Define a imagem como elemento de bloco */
}

.subtitulo {
  font-size: 8rem; 
  word-break: break-all; /* Quebra as palavras longas que excedem a largura do contêiner */
  line-height: 1; /* Define a altura da linha como 1, sem espaçamento extra */
  text-transform: uppercase; 
  max-width: 5ch; /* Define a largura máxima do contêiner como 5 caracteres */
}

