body {
  margin: 0px; /* Define a margem do corpo como 0 pixels */
  font-family: 'Fira Sans', Arial, sans-sefif; 
  color: #141414; 
  margin-bottom: 1000px; 
}

h1, h2, h3, p {
  margin: 0px; 
}

ul {
  margin: 0px; 
  padding: 0px; 
  list-style: none; /* Remove os marcadores de lista das listas não ordenadas */
}

img {
  max-width: 100%; /* Define a largura máxima da imagem como 100% */
  display: block; /* Define a imagem como elemento de bloco */
}

.subtitulo {
  font-size: 8rem; 
  word-break: break-all; /* Quebra as palavras longas que excedem a largura do contêiner */
  line-height: 1; /* Define a altura da linha como 1, sem espaçamento extra */
  text-transform: uppercase; 
  max-width: 5ch; /* Define a largura máxima do contêiner como 5 caracteres */
}

.experiencia .subtitulo {
  color: #e0e0e0; 
}

.experiencia-texto {
  font-size: 1.5rem; 
  line-height: 1.33; /* Define a altura da linha como 1.33, criando um espaçamento adequado */
  max-width: 40ch; /* Define a largura máxima do contêiner como 40 caracteres */
  margin-bottom: 60px; /* Define a margem inferior como 60 pixels */
  color: #525252; 
}

.experiencia-texto strong {
  color: #141414; 
}

.empresa {
  display: grid; /* Define o elemento com classe 'empresa' como um grid */
  grid-template-columns: 1fr 1fr; /* Define o modelo de grade com duas colunas de largura igual */
  padding: 20px; /* Define o preenchimento interno do elemento como 20 pixels */
  background: #f5f5f5; 
  margin-bottom: 20px; 
}

